
/*--- GENERAL ---*/

* {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}

:root {
    --first-color: #9356DC;
    --second-color:#FF79DA;
    --third-color: #99E2D0;
}

body {
    width: 100%;
    margin: 0;
    background: #F7F7F7;
    counter-reset: compteListe;
}

/*--- HEADER ---*/

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    padding-top: 14px;
    padding-bottom: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

header img {
    height: 30px;
}

/*--- MAIN ---*/

/* MAIN ADRESS */

.adress {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
    background-color: #EAEAEA;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #353535;
}

/* MAIN 2nd */

.explorer-restaurants {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 57px;
    padding-right: 20px;
    padding-left: 20px;
}

.explorer-restaurants h1 {
    font-weight: 700;
    font-size: 24px;
}

.explorer-restaurants p {
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
}

.explorer-restaurants a {
    display: flex;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 18.75px;
    padding-right: 18.75px;
    border-radius: 30px;
    background: linear-gradient(0deg,rgba(147,86,220,.9),rgba(255,121,218,.9));
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    margin-top: 22px;   
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    width: 186px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

/* --- FONCTIONNEMENT --- */

.fonctionnement {
    background-color: white;
    padding-top: 8%;
    padding-bottom: 15%;
}

.fonctionnement h2 {
    margin-left: 20px;
    margin-bottom: 30px;
    font-weight: 700;
}

.guide li::before {
    counter-increment: compteListe;
    content: counter(compteListe)"";
    background: #9356dc;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    left: -12px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
}

.guide {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-left: 28px;
    padding-right: 20px;
}

.guide li {
    display: flex;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    background-color: #F6F6F6;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    align-items: center;
    font-weight: 500;
}

.guide i {
    margin-right: 8%;
    margin-left: 12%;
    color: #7E7E7E;
}

.guide .fa-store {
    color: #9356DC;
}


/* --- RESTAURANTS-LIST --- */

.restaurants-list {
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    padding-bottom: 15%;
}

.restaurants-list h2 {
    margin-left: 20px;
}

.restaurants-list .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.restaurants-list .card {
    display: block;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    width: 320px;
    position: relative;
    text-decoration: none;
    color: black;
}

.restaurants-list .card img {
    width: 100%;
    object-fit: cover;
    height: 180px; 
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.restaurants-list .card-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding-left: 15px;
    padding-right: 25px;
}

.restaurants-list .card-text {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.restaurants-list h3 {
    margin-block: 0;
    font-weight: 700;
    font-size: 18px;
}

.restaurants-list p {
    margin-block: 0;
    font-weight: 300;
    font-size: 17px;
}

.restaurants-list i {
    font-size: 21px;
    font-weight: 300;
}

.restaurants-list .card-new {
    position: absolute;
    top: 12px;
    right: 12px;
    color: #008766;
    background-color: #99E2D0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    height: 29px;
    width: 80px;
    font-weight: 500;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* --- FOOTER --- */

footer {
    background-color: #353535;
    color: white;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 6px;
}

footer h3 {
    margin-left: 25px;
    font-family: 'Shrikhand';
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 10px;
}

.footer-content {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    font-weight: 400;
    gap: 8px;
}

.footer-content a {
    font-weight: 400;
    text-decoration: none;
    color: white;
    &:hover {
        text-decoration: underline;
    }
}

footer .fa-solid {
    width: 13px;
    margin-right: 15px;
}










/****** MEDIA QUERIES ***********/
/******** Medium and Big devices (tablets, desktop) ********/
@media (min-width: 480px) {

    /* explorer */ 

    .explorer-restaurants {
        padding-top: 10px;
        padding-bottom: 30px;
    }

    .explorer-restaurants h1 {
        font-weight: 700;
        font-size: 40px;
    }

    /* fonctionnement */

    .fonctionnement {
        background-color: white;
        padding-top: 1.5%;
        padding-bottom: 2%;
        padding-left: 12.5%;
        padding-right: 12.5%;
    }

    .fonctionnement h2 {
        margin-left: 0;
    }

    .guide {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
        padding-left: 10px;
        padding-right: 0;
    }
    
    .guide li {
        font-weight: 500;
        font-size: 16px;
    }

    /* restaurants */

    .restaurants-list h2 {
        margin-left: 0;
    }

    .restaurants-list {
        display: flex;
        flex-direction: column;
        padding-top: 0.5%;
        padding-left: 12.5%;
        padding-right: 12.5%;
        padding-bottom: 0;
        margin-bottom: 100px;
    }

    
    .restaurants-list .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10%;
    }
    
    .restaurants-list .card {
        width: auto;
    }
    
    .restaurants-list .card img {
        width: 100%;
        height: 231px; 
    }

    /* footer */

    footer {
        display: flex;
        flex-direction: row-reverse;
        padding-top: 50px;
        padding-bottom: 30px;
        gap: 50px;
        align-items: center;
    }
    
    footer h3 {
        margin-left: 40px;
        font-family: 'Shrikhand';
        font-weight: 400;
        font-size: 18px;
        margin-bottom: 10px;
        margin-right: 100px;
        margin-top: 0;
    }
    
    .footer-content {
        display: flex;
        flex-direction: row;
        margin-left: 40px;
        gap: 30px;
    }

    .footer-content a {
        font-weight: 400;
        text-decoration: none;
        color: white;
        &:hover {
            text-decoration: underline;
        }
    }
}



/**** ANIMATION ****/

/* animation coeur */

.fa-heart {
    color: black;
    cursor: pointer;
    transition: all .2s ease-in-out;
    transition: transform 600ms;
}

.fa-heart:hover {
    background: linear-gradient(0deg,rgba(147,86,220,.9),rgba(255,121,218,.9));
    font-weight: 600;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: white;
    transform: scale(1.2);
}

/* animation button */

.color-btn {
    transition: all 0.8s;
}

.color-btn:hover {
    scale: 1.02;
    filter: brightness(1.1);
}